doctype html
html(lang='en')
	head
		include ../partials/head_preamble.pug	
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	body
		include ../partials/navbar.pug
		.container
			.starter-template
				h1 Dashboard
				p.lead What do you want to do?
				.bs-example.admin_pane_container
					a.admin_pane(href="/admin/approve_hackathons" title="Approve hackathons, mark as spam or delete") 
						i(class="material-icons" style="font-size:192px") thumbs_up_down
						p Approve Hackathons
					a.admin_pane(href="/admin/live_hackathons" title="Manage the live hackathons") 
						i(class="material-icons" style="font-size:192px;") check_circle
						p Live Hackathons
					a.admin_pane(href="/admin/deleted_hackathons" title="Look at the deleted hackathons (warning: this is a barebones fallback)")
						i(class="material-icons" style="font-size:192px;") delete
						p Deleted Hackathons
					a.admin_pane(href="/admin/spammed_hackathons" title="Look at the hackathons flagged as spam (warning: this is a barebones fallback)")
						i(class="material-icons" style="font-size:192px;") strikethrough_s
						p Flagged as spam
		include ../partials/scripts.pug