doctype html
html(lang='en')
	head
		include ../partials/head_preamble.pug	
	body
		include ../partials/navbar.pug
		.container
			.starter-template
				h1 Live Hackathons
				p.lead Delete or edit the hackathons that are live.
				.bs-example
					table.table.table-striped.lead
						thead
							tr
								th Naam
								th Waar
								th Wanneer
								th Actie
						tbody
							each hackathon in hackathons
								tr
									td 
										a(href=hackathon.url, target='_blank') #{hackathon.name}
									td #{hackathon.location.city}									
									td #{hackathon.start_date}
									td 
										a.btn.btn-danger(href='/admin/deleteHackathon/'+hackathon.id) Delete 
										//- a.btn.btn-danger(href='/admin/editHackathon/'+hackathon.id) Edit 
		include ../partials/scripts.pug