nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
	.container
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.flow-text.navbar-brand(href='/') H4ck4th0n.nl
		#navbar.collapse.navbar-collapse
			ul.nav.navbar-nav
				li
					a.flow-text(href='#', data-toggle='modal', data-target='#hackathonModal') <strong style="color:#fd9f1b">Add a hackathon!</strong>
				if isAdmin
					li
						a(href='/admin/dashboard') <strong style="color:#fd9f1b">Dashboard</strong>
		.server_msg <noscript><p class="flow-text">Javascript staat uitgeschakeld. Het is het alleen mogelijk om de hackathons te bekijken.</p></noscript>
			p.flow-text.server_msg(style="display:none;") #{serverMessage}
include ./add_hackathon.pug