script(src='../../js/jquery.min.js')
script(src='../../js/jquery-ui.min.js')
script(src='../../js/jquery.ui.datepicker-nl.js')
//- script(src='../../js/bootstrap.min.js')
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous")
script(src='../../js/ie10-viewport-bug-workaround.js')
script(src='../../js/custom.js')
